/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	scroll-behavior: smooth;
}

html,
body {
	@apply h-full overflow-hidden;
}

.ec-event.ec-preview {
	z-index: 4 !important;
}
